/*----------DEFAULT----------*/
a, a:hover, a:visited, a:active{
    text-decoration: none;
}
/*----------CABEÇALHO----------*/

/*----------HOME----------*/
.principal{
    margin-top: 50px;
}
.thumbnail{
}
.caption{
    text-align: center;
    margin: 20px;
}
.caption a, a:hover{
    color: #fff;
}
.icone{
    font-size: 120px;
}
h4{
    padding: 20px;
    height: auto;
}
i{
    width: 100%;
    text-align: center;
}
button{
    margin: 5px;
}

/*----------JOGADOR----------*/
.adicionar{
    background: #59b960;
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.adicionar, .adicionar:hover, .adicionar::after, .adicionar:active, .adicionar:visited{
    color: #fff;
    font-size: 22px;
    text-decoration: none;
}
.control-label{
    font-size: 12px;
}
.dados-jogador{
    border: 1px solid #e7e7e7;
    padding: 5px 25px 0px 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.titulo-setores{
    font-size: 16px;
    width: 110%;
    text-align: center;
    padding-top: 10px;
}
.form-group{
    padding-left: 20px;
}
.cadastrar{
    float: right;
}
.menu-editar li{
    display: inline-flex;
    list-style: none;
    margin-right: 20px;
}
.menu-editar li:last-child, li:last-child{
    margin-left: 0px;
}
.form-group input, select{
    min-width: 100%;
}
.valor-atributo{
    padding: 5px;
    color: #fff;
    font-weight: bold;
    width: 25px;
    height: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.header-jogador{
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.media-jogador{
    background: #8dc153;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dados-geral li{
    list-style: none;
    font-size: 16px;
    margin: 10px;
}
.titulo-media{
    width: 60px;
    text-align: center;
    font-weight: bold;
}
.header-lista{
    background: #333 !important;
    color: #fff;
    font-weight: bold;
    text-align: center;
}
.icones-geral{
    width: 20px;
}

